.prediction-card {
  padding: 30px;
  border-radius: 16px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.predict-btn {
  width: 100%;
  margin-top: 10px;
  height: 48px;
  font-size: 16px;
}

.result-box {
  margin-bottom: 25px;
  padding: 10px 20px;
  border-radius: 12px;
  display: grid;
  row-gap: 15%;
  grid-template-columns: 50% 50%;
}

.result-header {
  display: grid;
  align-items: center;
  row-gap: 10%;
  margin-top: 5px;
}

.status-icon {
  font-size: 28px;
}

.prediction-text {
  font-size: 24px;
  font-weight: 600;
}

.close-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  color: #666;
  transition: all 0.2s ease;
}

.probability-text {
  font-size: 18px;
  margin-left: 1%;
}

.close-btn-container {
  display: flex;
  justify-content: end;
}

.ontime-card {
  background: #dcfce7;
  border-left: 6px solid #22c55e;
}

.delayed-card {
  background: #fee2e2;
  border-left: 6px solid #ef4444;
}

.airport-hint {
  color: #dc2626;
}

.invalid-airport {
  ::ng-deep .mat-mdc-text-field-wrapper {
    border-color: #dc2626 !important;
  }

  ::ng-deep .mdc-notched-outline__leading,
  ::ng-deep .mdc-notched-outline__notch,
  ::ng-deep .mdc-notched-outline__trailing {
    border-color: #dc2626 !important;
  }
}

.predict-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.departure-time-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.time-label {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, .7);
  margin-bottom: 8px;
}

.time-picker-container {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.hour-field {
  width: 110px;
}

.minute-field {
  width: 110px;
}

.meridian-field {
  width: 120px;
}

.time-separator {
  font-size: 24px;
  font-weight: 700;
  color: #555;
  margin-top: -18px;
}

.time-picker-container .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.hour-field .mat-mdc-text-field-wrapper,
.minute-field .mat-mdc-text-field-wrapper,
.meridian-field .mat-mdc-text-field-wrapper {
  height: 56px;
}

.hour-field .mat-mdc-form-field-flex,
.minute-field .mat-mdc-form-field-flex,
.meridian-field .mat-mdc-form-field-flex {
  align-items: center;
}

@media (max-width: 768px) {

  .form-grid {
    grid-template-columns: 1fr;
  }

  .result-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .time-picker-container {
    flex-wrap: wrap;
  }

  .hour-field,
  .minute-field,
  .meridian-field {
    width: 100%;
  }

  .time-separator {
    display: none;
  }
}

.error-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
