.reports-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reports-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.reports-header h1 {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
}

.reports-header p {
  margin-top: 5px;
  color: #64748b;
}

.retry-link {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #1976d2;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: color .2s ease;
}

.retry-link:hover {
  color: #0d47a1;
  text-decoration: underline;
}

.retry-link mat-icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
}

.table-card {
  overflow: hidden;
  padding: 20px 24px 0;
}

.table-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-field {
  width: 100%;
  max-width: 340px;
  margin-bottom: 8px;
}


.reports-table {
  width: 100%;
}

.airport-delay-report-paginator {
  margin-bottom: 20px;
}

.mat-mdc-header-row {
  background: #add8e6;
}

.mat-mdc-header-cell {
  font-size: 15px;
  font-weight: 600;
  color: #0f172a;
  padding: 18px;
  white-space: nowrap;
}

.mat-mdc-cell {
  padding: 18px;
  font-size: 13px;
}

.mat-mdc-row:hover {
  background: #f8fafc;
}

.total-flights {
  padding: 6px 12px;
  border-radius: 20px;
  font-weight: 600;
  color: #1F379B;
}

.delayed-flights {
  padding: 6px 12px;
  border-radius: 20px;
  font-weight: 600;
  color: #1F379B;
}

.recent-prediction-header {
  margin-top: 20px;
}

.recent-delay-predicton-table-card {
  overflow: hidden;
  padding: 25px 24px;
  margin-bottom: 30px;
}

.history-table-wrapper {
  overflow-x: hidden;
}

.origin-badge {
  background: #EAF1FD;
  color: #1F379B;
  padding: 5px 12px;
  border-radius: 16px;
  font-weight: 600;
}
.delay-rate-badge {
  background: #FFF1E3;
  color: #E66A00;
  padding: 5px 12px;
  border-radius: 16px;
  font-weight: 600;
}

.history-title {
  margin: 30px 0 15px;
  font-size: 22px;
  font-weight: 600;
  color: #1e293b;
}

.prediction-badge {
  padding: 6px 14px;
  border-radius: 18px;
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
  text-align: center;
}

.on-time {
  background: #DCFCE7;
  color: #15803D;
}

.delayed {
  background: #FEE2E2;
  color: #DC2626;
}

.recent-prediction-badge{
  padding: 5px 12px;
  border-radius: 18px;
  font-size: 13px;
  font-weight: 600;
  white-space: nowrap;
}

.probability-badge {
  background: #FFF1E3;
  color: #E66A00;
  padding: 5px 12px;
  border-radius: 16px;
  font-weight: 600;
}

.airline-badge {
  background: #EAF1FD;
  color: #1F379B;
  padding: 5px 12px;
  border-radius: 16px;
  font-weight: 600;
}

.recent-flight-data {
  border-radius: 20px;
  font-weight: 500;
  color: dimgrey;
}
