.top-header {
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo-box {
  width: 50px;
  height: 50px;

  border-radius: 14px;

  background: linear-gradient(
    135deg,
    #2563eb,
    #1d4ed8
  );

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
}

.header-left h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  color: #0f172a;
}

.header-left p {
  margin: 4px 0 0;
  color: #64748b;
  font-size: 14px;
}